CAMERA_IP=192.168.8.253
CAMERA_USER=admin
CAMERA_PASSWORD=replace-with-your-camera-password
CAMERA_RTSP_PATH=/tcp/av0_0
CAMERA_RTSP_PORT=10554
CAMERA_ONVIF_PORT=10080
CAMERA_STREAM_RTSP_PATH=/tcp/av0_1
CAMERA_STREAM_FPS=24
CAMERA_PTZ_MOVE_SECONDS=0.35
CAMERA_PTZ_SPEED=0.45
